<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2040,1409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2040,1409}}</string>
                <key>sourceSize</key>
                <string>{2040,1409}</string>
            </dict>
            <key>sequence/pubu1/pubu1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1957},{70,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1413},{68,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{68,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1413},{70,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{72,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{72,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1413},{70,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1413},{68,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{68,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1413},{68,324}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{68,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1739},{68,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{68,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1847},{68,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{68,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1413},{70,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1413},{70,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1967},{70,324}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu1/pubu1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1969},{70,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{70,324}}</string>
                <key>sourceSize</key>
                <string>{200,330}</string>
            </dict>
            <key>sequence/pubu2/pubu2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1743},{108,328}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{108,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1745},{110,330}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{110,330}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1743},{102,328}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{102,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1413},{106,328}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{106,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1857},{110,328}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{110,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1413},{104,328}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{104,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1413},{108,330}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{108,330}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1857},{108,328}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{108,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1413},{110,330}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{110,330}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1853},{102,328}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,28},{102,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1413},{106,328}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{106,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1413},{110,328}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{110,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sequence/pubu2/pubu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1413},{104,328}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{104,328}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Beijing-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a22ecb58475a3b807916d971ebde194$</string>
            <key>textureFileName</key>
            <string>Beijing-hd.png</string>
        </dict>
    </dict>
</plist>
