<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildingShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,480},{196,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,132}}</string>
                <key>sourceSize</key>
                <string>{196,132}</string>
            </dict>
            <key>canhaiX0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,274},{32,32}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>canhaiX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,859},{64,42}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>canhaiX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,780},{152,109}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{152,109}}</string>
                <key>sourceSize</key>
                <string>{160,139}</string>
            </dict>
            <key>canhaiX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,274},{204,145}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{204,145}}</string>
                <key>sourceSize</key>
                <string>{212,207}</string>
            </dict>
            <key>dibiaoX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,772},{99,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{99,80}}</string>
                <key>sourceSize</key>
                <string>{111,82}</string>
            </dict>
            <key>dibiaoX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,527},{205,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{205,158}}</string>
                <key>sourceSize</key>
                <string>{229,168}</string>
            </dict>
            <key>dibiaoX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{330,248}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{330,248}}</string>
                <key>sourceSize</key>
                <string>{344,254}</string>
            </dict>
            <key>dibiaoX4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{427,327}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{427,327}}</string>
                <key>sourceSize</key>
                <string>{457,337}</string>
            </dict>
            <key>dibiaoX5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{539,405}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{539,405}}</string>
                <key>sourceSize</key>
                <string>{569,421}</string>
            </dict>
            <key>jianzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,678},{91,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>jianzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,734},{137,135}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,135}}</string>
                <key>sourceSize</key>
                <string>{137,173}</string>
            </dict>
            <key>jianzhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,527},{253,251}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{253,251}}</string>
                <key>sourceSize</key>
                <string>{253,291}</string>
            </dict>
            <key>jianzhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,252},{273,273}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,351}</string>
            </dict>
            <key>mubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,776},{64,81}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>wall_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,409},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>weilanX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,780},{185,97}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,97}}</string>
                <key>sourceSize</key>
                <string>{189,113}</string>
            </dict>
            <key>weilanX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{270,127}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{270,127}}</string>
                <key>sourceSize</key>
                <string>{280,143}</string>
            </dict>
            <key>weilanX4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{368,164}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{368,164}}</string>
                <key>sourceSize</key>
                <string>{370,176}</string>
            </dict>
            <key>weilanX5.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,678},{96,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_others_sprite-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1004,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a58c88cf94fb7332561c7b6f367679$</string>
            <key>textureFileName</key>
            <string>s_others_sprite-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
